.darkTheme {
  padding: 20px;
  border: 2px solid green;
  background-color: rgb(0, 0, 0);
}


.lightTheme {
  padding: 20px;
  border: 2px solid green;
  background-color: rgb(226, 226, 226);
  color: black;
}